<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/nav.ejs") %>
    
    <img src="<%= img %>">
    <footer>
      <%- include("partials/footer.ejs") %>
    </footer>
</body>
</html>